# Ignore the virtual environment
.venv/
__pycache__/

# Ignore the generated configurations (for privacy)
output/

# Ignore the CSV data (contains passwords!)
data/*.csv

# Ignore Mac system files
.DS_Store

